## HOMEWORK 01

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=3
print(x)

3

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
y=8.5
type(y)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [10]:

print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = 'paula'

5) Crear una variable que contenga un número complejo

In [14]:
n_complejo = 10 + 8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [15]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [19]:
valor_1 = 'true'
valor_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [26]:
print('la variable 1 es' ,  type(valor_1) , ' y la variable 2 es ', 
type(valor_2) )

la variable 1 es <class 'str'>  y la variable 2 es  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [27]:
suma = (1 + 2.5)

11) Realizar una operación de suma de números complejos

In [28]:
a = 2 + 3j
b = 5+ 1j

print(a+b)

(7+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [29]:
c = 4
d= 1+3j

print(c+d)

(5+3j)

13) Realizar una operación de multiplicación

In [31]:

print(2*6)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
coc = 27/4
print(coc)

6.75

16) De la división anterior solamente mostrar la parte entera

In [35]:
coci=27//4
print(coci)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [36]:
cco=27%4
print(cco)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [40]:
var1 = 'hola'
var2 = ' mundo'
print(var1+var2)

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [41]:
'2'==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [42]:
int('2')==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [43]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [44]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [45]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [46]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
edad=32
p= 'mi edad es '
print(p,edad)

mi edad es  32